*
!.gitignore
!Source/Smejki/CD460pack01/**
!Assets/Smejki/CD460pack01/**
!Assets/CS_addon/Smejki/RailVehicles/Electric/460080/*
!Source/CS_addon/Smejki/RailVehicles/Electric/460080/*
!Assets/CS_addon/Smejki/RailVehicles/Passenger/063/*
!Source/CS_addon/Smejki/RailVehicles/Passenger/063/*
!Assets/CS_addon/Smejki/RailVehicles/Textures/*
!Source/CS_addon/Smejki/RailVehicles/Textures/*
!Assets/CS_addon/Smejki/RailVehicles/deprecated_dummy.*
!Source/CS_addon/Smejki/RailVehicles/deprecated_dummy.*
!LICENSE
!README.md